html {
    height: 100%;
    overflow: auto;
}

body {
    height: 100%;
    margin: 0;
}
#container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

#map {
    background: repeating-linear-gradient(transparent, grey 40px), repeating-linear-gradient(0.25turn, white, grey 40px);
    background-size: 2000px 2000px;
    position: relative;
    width: 100%;
    height: 100%;
}
.player {
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    transition: all 0.1s ease-out;

    background-image: url("/images/g4o2.jpeg");
    background-size: cover;
    background-position: center;
}

.health {
  /*  height: 100%;
    width: 6px;
    background-color: lightgreen;
    margin-left: -10px;
*/
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: red;
}