body {
    margin: 0;
    overflow: hidden;
}
#container {
    width: 2000px;
    height: 2000px;
    /* overflow: auto; */
    overflow: hidden;
}

#map {
    /* background-image: url("/images/g4o2.jpeg"); */
    /* background-color: #8bc34a; */
    background: repeating-linear-gradient(transparent, grey 40px), repeating-linear-gradient(0.25turn, white, grey 40px);
    background-size: 2000px 2000px;
    position: relative;
    width: 2000px;
    height: 2000px;
}

.player {
    height: 30px;
    width: 30px;
    background-color: red;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    transition: all 0.1s ease-out;

    background-image: url("/images/g4o2.jpeg");
    background-size: cover;
    background-position: center;
}

.health {
    height: 100%;
    width: 6px;
    background-color: lightgreen;
    margin-left: -10px;
}